body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.media-object{
	max-width: 160px;
}
.list-group-item:hover{
	background-color: #eee; 
}
.list-group-item{
	margin-top: 10px;
}
.media-logo{
	max-width: 94px;
	margin: 20px !important;
}
.heading{
	text-align: center;
}
.footer{
	margin-top: 100px;
}